* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;}

body{
  font-size: 1.2rem;
  font-weight: 300;
  font-family: Helvetica, Arial, sans-serif;}

.custom-container {
  margin-left: 10px;  /* Adjust the value as needed */
  margin-right: 10px;  /* Adjust the value as needed */
  padding-left: 10px;  /* Optional: Add padding if needed */
  padding-right: 10px;  /* Optional: Add padding if needed */
}


.navbar{
    padding-left: 1rem;
    padding-bottom: 3rem;}

.navbar-nav a{
    text-decoration: none;
    margin: 12px;
    padding: 12px;
    color: #000;}

#surah {
  display: inline-block;
  margin-top:38px;
  padding-right: 13px;
}

.title-image1{
  width: 100%;
  margin-top: 13px;
  margin-left:15px;
  border-radius: 15%;}

.title-image2{
  width: 100%;
  margin-top: 21px;
  margin-right:75px;
  padding-left: 13px;
  border-radius: 15%;}

.col-lg-6{
  display: inline-block;
  font-size: 3rem;}

.educate a{
  text-decoration: none;
  color: #000;}

.educate li{
  list-style-type: none;}

.links h5{
  display: inline-block;
  background-color: #DFDFDE;}

.links{
  Margin-left: 25px;
  margin-top: 18px;
}

#salah{
  margin-left: 25px;
  margin-top: 18px;
}

#eid{
  margin-left: 25px;
  margin-top: 18px;
}

p{
   display: block;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
}
